[Install]
WantedBy=multi-user.target

[Unit]
Description=Velican regen script

[Service]
Type=simple
User=www-data
Group=__APP__
WorkingDirectory=__APP_PATH__
ExecStart=/usr/bin/python3 __APP_PATH__/publisher.py __APP_PATH__
